*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

#gameCont{/*
        background: #42445A;*/
        width: 98vw;
        height: 70vh;
        margin: 5px auto;
        border: 2px solid #42445A;
        border-radius: 10px;
        padding: 10px;
        position: relative;
        overflow: hidden;
}

.scoreCont{/*
        background: #42445A;*/
        padding: 4px;
        font-size: .6em;
        font-weight: bold;
        border: 1px solid blue;
        border-radius: 3px;
        min-width: 50px;
        position: absolute;
        top: 10px;
}

#hiScore{
        left: 10px;
}

#score{
        right: 10px;
}

#gameName{/*
        background: #42445A;*/
        text-align: center;
        position: absolute;
        width: 94%;
        top: 50px;
}

#hero,
#villian{
        position: absolute;
        bottom: 10px;
        font-size: 1.6em;
        border: 2px solid blue;
        width: 50px;
        height: 50px;
        border-radius: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
}

#hero{
        left: 10px;
}

#villian{
        right: 10px;
}

#gameOver{
        background: blue;
        width: 150px;
        height: 150px;
        position: absolute;
        top: 130px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        font-weight: bold;
        text-align: center;
        color: white;
        border-radius: 150px;
}

#controlsCont{/*
        background: #42445A;*/
        width: 100vw;
        height: 22vh;
        display: flex;
        align-items: center;
        justify-content: center;
}

.btn{
     display: block;
     width: 50px;
     height: 50px;
     border: 1px solid blue;
     background: transparent;
     font-size: 1.3em;
     font-weight: bold;
     border-radius: 150px;
     margin: 0px 10px;
     outline: none;
     color: blue;
     transition: .4s;
}

.btn:hover,
#startBtn{
        background: blue;
        color: white;
}

#startBtn{
        font-size: 1.1em;
        width: 60px;
        height: 60px;
}

#startBtn:hover{
        background: transparent;
        color: blue;
}

#topBtn{
        transform: rotate(90deg);
}

#downBtn{
        transform: rotate(-90deg);
}

#reloadBtn{
        display: block;
        background: blue;
        text-decoration: none;
        color: white;
        font-size: 1em;
        font-weight: bold;
        width: 100px;
        padding: 5px;
        margin: auto;
        border-radius: 5px;
        text-align: center;
}

#darkBtn{
        background: #DFE2FF;
        width: 40px;
        height: 40px;
        border-radius: 150px;
        border: 2px solid blue;
        position: absolute;
        bottom: 10px;
        right: 10px;
        outline: none;
}

.cBlue{
        color: blue !important;
}

.dNone{
        display: none !important;
}

.villianAnim{
        animation: villianRun 2s linear infinite;
}

@keyframes villianRun{
        0%{
                left: 100vw;
        }
        
        100%{
                left: -10vw;
        }
}

.heroAnim{
        animation: heroJump 1s linear 1;
}

@keyframes heroJump{
        0%{
                bottom: 10px;
        }
        
        50%{
                bottom: 200px;
        }
        
        100%{
                bottom: 10px;
        }
}

.bgDark{
        background: black !important;
}

.cPink{
        color: pink !important;
}

.borderPink{
        border-color: pink !important;
}

.bgDark2{
        background: #42445A !important;
}